html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Dosis', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 96vh;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    background: linear-gradient(#abfcfd, #3177fc);
}

#app{
    width: 100vw;
    overflow-x: scroll;
    overflow-x: hidden;
}

span{
    display: flex;
    flex-direction: row;
}

img{
    width: 20vw;
    max-height: 20vw;
    border-radius: 1vw;
}

.elem{ /* These are the elements in slider*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  rgb(200,200,200);
    box-shadow: 1px 9px 9px rgba(100, 100, 100, 0.5);
    width: auto;
    height: 50vh;
    padding: 1vw 1vw 1vw 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

article{
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 30pt;
}

.buttons{
    margin-top: 70vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

#left, #right{
    border-radius: 100vw;
    width: 4vw;
    height: 4vw;
}

#indiceContainer{
    top: 1vh;
    right: 10vh;
    color: red;
    background-color: white;
}

/* crud: */
input[type="number"]{
    height: 3ch;
    width: 24ch;
}

#addOrEdit{
    position: relative;
    position: fixed;
    background-color: white;
    /*display: flex;*/display: none;
    flex-direction: column;
    padding: 3vh 3vh 3vh 3vh;
    width: 30vw;
    box-shadow: 8px 10px 5px rgba(100, 100, 100, 0.5);
}

#closeForm{
    position: absolute;
    color: red;
    right: 1vw;
    top: 1vw;
}

#addOrEdit div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#Img, #Auth, #Url, #idAddOrEdit{
    margin-bottom: 2vh;
}